@import "./css/modern-normalize.min.css";

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("./fonts/Poppins-VariableFont_wght.otf") format("woff2");
}

ul,
ol {
  list-style-type: none;
}

:root {
  --primary: black;
  --secondary: #ffbc59;
  /* --h1: 42px; */
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  height: 100%;
  /* background-image: linear-gradient(0.5turn, grey, 3rem, grey, 3rem, red); */
}

img {
  display: block;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* center + container */
.centainer {
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  line-height: 3rem;
  background: var(--secondary);
}

.nav_list {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}

.nav_item {
  /* line-height: 3rem; */
  height: 100%;
}

.nav_link {
  /* display: inline-block; */
  line-height: 3rem;
  text-decoration: none;
  color: black;
  padding: 0.6rem;
}

.main {
  display: flex;
}

.anchor {
  position: relative;
  top: -3rem;
}

.left-section {
  background-color: var(--secondary);
  min-width: 21rem;
  font-weight: 200;
  padding-bottom: 20rem;
}

.contact,
.education,
.skills {
  margin-left: 3rem;
  line-height: 2;
}

.left-section-title {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.contact-list-item {
  max-width: max-content;
}

.contact-list-item-link {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
}

.skills-list-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
}

.right-section {
  margin-left: 4rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 6rem;
}

.self_description {
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 200;
}

.footer {
  /* background-color: chocolate; */
  line-height: 1.8;
  padding: 0.6rem;
}

span {
  position: absolute;
  left: 220px;
}
